<div class="rightInfo">
  <section class="blogSection">
    <ul class="blogList">
      <li ng-repeat="item in items">
        <a ng-href="#/detail/{{item._id}}">
          <h2>{{item.title}}</h2>
          <article ng-bind-html="item.post|to_Html"></article>
        </a>
        <div class="meta">
          <span class="time">{{item.time.day}}</span>
          <span class="tags">on<a href="#/list/{{item.tags}}">{{item.tags}}</a></span>
          <span>{{item.read}}&nbsp;Read</span>
        </div>
        <hr class="divider">
      </li>
    </ul>
    <div class="pagination">
      <nav>
        <ul class="pager">
          <li ng-class="( curPage == 1 ) ? 'disabled' : ''" ng-click="pagePre()"><a href="javascript:void(0);">前一页</a></li>
          <li ng-class="( curPage == totalPage ) ? 'disabled' : ''" ng-click="pageNext()"><a href="javascript:void(0);">后一页</a></li>
        </ul>
      </nav>
      <span class="pageIndex">Page {{curPage}} of {{totalPage}}</span>
    </div>
    <footer>
      <p class="copyright">
        © 2016. All rights reserved. Built with <a href="https://blog.yofoon.com/" target="_blank">YoFoon</a> and <a href="https://blog.yofoon.com/" target="_blank">YoFoon Ma</a> .
      </p>
    </footer>
  </section>
</div>