<div class="rightInfo">
  <section class="blogSection">
    <ul class="blogList">
      <li>
        <a href="#">
          <h2>我的博文</h2>
          <p>中新网2月18日电 据俄罗斯卫星网报道，法国巴黎市郊一家餐厅的老板禁止银行人员进店就餐。此举是为了报复银行人员屡次拒绝对其提供7万欧元的贷款用于开设第二家餐厅。报道称，目前在该餐厅的黑板上能看到的不是菜单而是如下字样：“欢迎光临，银行人员禁止入内(如果他们不为进店支付7万欧元)。”餐厅老板许诺称：“只要我得知有银行人员进入餐厅，我会立即让他滚出去。”餐厅老板还表示，因银行拒绝为其提供7万欧元的微薄贷款，他感到受辱，不过在此情况下，他的餐厅去年全年营业额高达30万欧元。报道指出，这位30岁的餐厅老板已经不是第一次和银行打交道受挫了。早在他23岁时，就曾设法开设第一家餐厅，他已经向银行贷款遭拒20多次了。</p>
        </a>
        <div class="meta">
          <span class="time">2016-2-18</span>
          <span class="tags">on<a href="">life</a></span>
          <span>53&nbsp;Read</span>
        </div>
        <hr class="divider">
      </li>
      <li>
        <a href="#">
          <h2>我的博文</h2>
          <p>中新网2月18日电 据俄罗斯卫星网报道，法国巴黎市郊一家餐厅的老板禁止银行人员进店就餐。此举是为了报复银行人员屡次拒绝对其提供7万欧元的贷款用于开设第二家餐厅。报道称，目前在该餐厅的黑板上能看到的不是菜单而是如下字样：“欢迎光临，银行人员禁止入内(如果他们不为进店支付7万欧元)。”餐厅老板许诺称：“只要我得知有银行人员进入餐厅，我会立即让他滚出去。”餐厅老板还表示，因银行拒绝为其提供7万欧元的微薄贷款，他感到受辱，不过在此情况下，他的餐厅去年全年营业额高达30万欧元。报道指出，这位30岁的餐厅老板已经不是第一次和银行打交道受挫了。早在他23岁时，就曾设法开设第一家餐厅，他已经向银行贷款遭拒20多次了。</p>
        </a>
        <div class="meta">
          <span class="time">2016-2-18</span>
          <span class="tags">on<a href="">life</a></span>
          <span>53&nbsp;Read</span>
        </div>
        <hr class="divider">
      </li>
      <li>
        <a href="#">
          <h2>我的博文</h2>
          <p>中新网2月18日电 据俄罗斯卫星网报道，法国巴黎市郊一家餐厅的老板禁止银行人员进店就餐。此举是为了报复银行人员屡次拒绝对其提供7万欧元的贷款用于开设第二家餐厅。报道称，目前在该餐厅的黑板上能看到的不是菜单而是如下字样：“欢迎光临，银行人员禁止入内(如果他们不为进店支付7万欧元)。”餐厅老板许诺称：“只要我得知有银行人员进入餐厅，我会立即让他滚出去。”餐厅老板还表示，因银行拒绝为其提供7万欧元的微薄贷款，他感到受辱，不过在此情况下，他的餐厅去年全年营业额高达30万欧元。报道指出，这位30岁的餐厅老板已经不是第一次和银行打交道受挫了。早在他23岁时，就曾设法开设第一家餐厅，他已经向银行贷款遭拒20多次了。</p>
        </a>
        <div class="meta">
          <span class="time">2016-2-18</span>
          <span class="tags">on<a href="">life</a></span>
          <span>53&nbsp;Read</span>
        </div>
        <hr class="divider">
      </li>
      <li>
        <a href="#">
          <h2>我的博文</h2>
          <p>中新网2月18日电 据俄罗斯卫星网报道，法国巴黎市郊一家餐厅的老板禁止银行人员进店就餐。此举是为了报复银行人员屡次拒绝对其提供7万欧元的贷款用于开设第二家餐厅。报道称，目前在该餐厅的黑板上能看到的不是菜单而是如下字样：“欢迎光临，银行人员禁止入内(如果他们不为进店支付7万欧元)。”餐厅老板许诺称：“只要我得知有银行人员进入餐厅，我会立即让他滚出去。”餐厅老板还表示，因银行拒绝为其提供7万欧元的微薄贷款，他感到受辱，不过在此情况下，他的餐厅去年全年营业额高达30万欧元。报道指出，这位30岁的餐厅老板已经不是第一次和银行打交道受挫了。早在他23岁时，就曾设法开设第一家餐厅，他已经向银行贷款遭拒20多次了。</p>
        </a>
        <div class="meta">
          <span class="time">2016-2-18</span>
          <span class="tags">on<a href="">life</a></span>
          <span>53&nbsp;Read</span>
        </div>
        <hr class="divider">
      </li>
    </ul>
    <div class="pagination">
      <span class="pageIndex">Page 1 of 1</span>
    </div>
    <footer>
      <p class="copyright">
        © 2016. All rights reserved. Built with <a href="https://blog.yofoon.com/" target="_blank">YoFoon</a> and <a href="https://blog.yofoon.com/" target="_blank">YoFoon Ma</a> .
      </p>
    </footer>
  </section>
</div>