<div class="rightInfo">
  <h2>博文发表</h2>
  <hr>
  <div>
    <span>标题：</span>
    <input ng-model="title">
  </div>
  <br><br>
  <div>
    <span>标签：</span>
    <select ng-model="tags">
      <option value="blog" selected>技术博文</option>
      <option value="work">工作博文</option>
      <option value="life">生活博文</option>
      <option value="book">书籍推荐</option>
    </select>
  </div>
  <br><br>
  <div class="cow inputBlog">
    <textarea ng-model="post" class="col-md-8"></textarea>
  </div>
  <br><br>
  <button ng-click="submitForm()">发表</button>
</div>