<div class="rightInfo">
  <section class="detailSection">
    <article class="article">
      <header>
        <div class="top">
          <span class="time">{{item.time.day}}</span>
          <span class="tags">{{item.tags}}</span>
          <span class="read-times"><span>1</span>times</span>
        </div>
        <h1 class="title">{{item.title}}</h1>
      </header>
      <div class="content">
        {{item.post}}
      </div>
    </article>
    <footer>
      <p class="copyright">
        © 2016. All rights reserved. Built with <a href="https://blog.yofoon.com/" target="_blank">YoFoon</a> and <a href="https://blog.yofoon.com/" target="_blank">YoFoon Ma</a> .
      </p>
    </footer>
  </section>
</div>