<div class="rightInfo">
  <section class="detailSection">
    <article class="article">
      <header>
        <div class="top">
          <span class="time">2016-2-16</span>
          <span class="tags">生活</span>
          <span class="read-times"><span>1</span>times</span>
        </div>
        <h1 class="title">大大大大大标题</h1>
      </header>
      <div class="content">
        <p>恩，没错。很久没有写东西的我今天就想来说说这个问题到底是怎么回事？</p>

        <p>问题是这个样子的。</p>

        <p>我今天在做项目的时候，当我写完了一个upload组件后，做了一个异步的ajax需要后台把上传的结果传给我。在一些高级浏览器下是么有什么问题的。但是当我在ie8、ie9下测试的时候，发现了这样一种情况：</p>

        <p>当我把文件上传后，浏览器竟然弹出了让我下载的东西。</p>

        <p><img src="http://static.oschina.net/uploads/space/2013/0829/145946_hTrP_223750.jpg"></p>

        <p>我当真不晓得这是个什么玩意，只是一个劲的觉得，当初我真是好傻逼干了前端这个行业，（被兼容搞死）。</p>

        <p>我当然是不能够屈服的了。</p>

        <p>找了找网上，发现还有人和我出现了一样的问题。</p>

        <p>最终，发现问题的导向是后台再给我response的header头的是这个样子的 </p>

        <pre><code>'Content-Type:text/json; charset=utf-8' 
        </code></pre>

        <p>一般这里都是为了兼容ie都是写成这个样子的吧。</p>

        <pre><code>'Content-Type:text/html; charset=utf-8' 
        </code></pre>

        <p>IE10可以支持application/json格式的Response了，也就是说低于IE10版本一下的IE浏览器都需要使用text/html格式的Response。所以，索性就都要换成'Content-Type:text/html; charset=utf-8' 。</p>

        <p>Response头中指定Content-Type为text/html，而并非text/html，是可以解决问题的。这样返回给客户端的是一个JSON字符串（并非JSON对象），无需IE来解析。随后，使用JSON.parse()函数将JSON字符串解析为JSON对象即可。也怪不得在没有改之前 我$.parseJSON这样是会报错的呢，因为人后台直接就把JSON给我搞过来了。。。。</p>

        <p>后来再去别的大网站看看，原来真的都是这样的。</p>

        <p>珍爱生命，远离前端，PHP我来了。</p>
      </div>
    </article>
    <footer>
      <p class="copyright">
        © 2016. All rights reserved. Built with <a href="https://blog.yofoon.com/" target="_blank">YoFoon</a> and <a href="https://blog.yofoon.com/" target="_blank">YoFoon Ma</a> .
      </p>
    </footer>
  </section>
</div>