body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,select,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;vertical-align:top;}
table{border-collapse:collapse;}
ul,ol{list-style:none;}
input,select,textarea{outline:none; border:none; background:#FFF;}
textarea{resize:none;overflow:auto;}
a{text-decoration: none;}
.mainWrap{
  width: 100%;
  height: 100%;
  min-width: 800px;
  .fullPage, .leftInfo{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #f0f0f0;
    z-index: 9;
    background: #FFF url('/dist/images/blog-bg.jpg') center/cover no-repeat fixed;
    background-size: 100% 100%;
  }
  .fullPage {
    right: 0;
  }
  .leftInfo {
    -webkit-animation:unShowFullPage 0.5s ease-in-out both;
    -moz-animation:unShowFullPage 0.5s ease-in-out both;
    -ms-animation:unShowFullPage 0.5s ease-in-out both;
    animation:unShowFullPage 0.5s ease-in-out both;
  }
  
  .rightInfo {
    position: fixed;
    top: 0;
    left: 20%;
    bottom: 0;
    right: 0;
    z-index: 5;
    overflow-y: scroll;
  }

  .profile {
    max-width: 38.75rem;
    text-align: center;
    margin: 12rem auto 0;
    a {
      color: #333;
      text-decoration: none;
      .myHead {
        margin: 0 auto;
        width: 8rem;
        border: 2px solid rgba(50,50,50,.1);
        box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
        border-radius: 50%;
      }
      .myHead:hover{
        -webkit-animation:shake 0.5s ease-in-out both;
        -moz-animation:shake 0.5s ease-in-out both;
        -ms-animation:shake 0.5s ease-in-out both;
        animation:shake 0.5s ease-in-out both;
      }
      h3{
        margin-top: 2rem;
      }
    }
    p {
      color: #333;
      font-size: 16px;
    }
    .navigation {
      ul.upNav {
        margin: 0 auto;
        li {
          display: inline-block;
          margin: 0 5px 5px;
          border-radius: 20px;
          border: 1px solid #666;
          line-height: 1rem;
          transition: transform 0.5s;
          -moz-transition: -moz-transform 0.5s;
          -webkit-transition: -webkit-transform 0.5s;
          -o-transition: -o-transform 0.5s;
          a {
            padding: .625rem 1.25rem;
            display: block;
            opacity: .8;
            color: #333;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
        li:hover {
          -webkit-transform:scale(1.2,1.2);
          -moz-transform:scale(1.2,1.2);
          -transform:scale(1.2,1.2);
        }
      }
      ul.downNav {
        margin: 0 auto;
        li {
          display: inline-block;
          margin: 20px 10px 5px;
          transition: transform 0.5s;
          -moz-transition: -moz-transform 0.5s;
          -webkit-transition: -webkit-transform 0.5s;
          -o-transition: -o-transform 0.5s;
          a {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
          .github-icon {
            background: #FFF url('/dist/images/github.png') no-repeat;
            background-size: 100% 100%;
          }
          .weibo-icon {
            background: #FFF url('/dist/images/weibo.png') no-repeat;
            background-size: 100% 100%;
          }
        }
        li:hover {
          -webkit-transform:scale(1.2,1.2);
          -moz-transform:scale(1.2,1.2);
          -transform:scale(1.2,1.2);
        }
      }
    }
  }
}

.divider{
  margin: 10px auto;
  border-top: 1px solid rgba(255,255,255,.5);
}


@-webkit-keyframes unShowFullPage {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}
@-o-keyframes unShowFullPage {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}
@-moz-keyframes unShowFullPage {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}
@keyframes unShowFullPage {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}  
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-4px);}  
  20%, 40%, 60%, 80% {-webkit-transform: translateX(4px);}  
}  
@-moz-keyframes shake {  
  0%, 100% {-moz-transform: translateX(0);}  
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-4px);}  
  20%, 40%, 60%, 80% {-moz-transform: translateX(4px);}  
}
@-o-keyframes shake {  
  0%, 100% {-o-transform: translateX(0);}  
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-4px);}  
  20%, 40%, 60%, 80% {-o-transform: translateX(4px);}  
}  
@keyframes shake {  
  0%, 100% {transform: translateX(0);}  
  10%, 30%, 50%, 70%, 90% {transform: translateX(-4px);}  
  20%, 40%, 60%, 80% {transform: translateX(4px);}  
}  