@function rem($px){
  @return ($px / 12)+rem;
}
.mainWrap {
  .rightInfo {
    padding: 2rem 3rem;
    overflow: auto;
    .blogSection {
      padding: 2rem 0;
      margin: 0 3.7rem;
      ul.blogList {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: left;
        li {
          margin: 0 0 .2rem;
          line-height: 1.6rem;
          margin-bottom: rem(50);
          a {
            color: #333;
            text-decoration: none;
            h2 {
              margin-bottom: 1rem;
              line-height: 3rem;
              -webkit-transition: all 350ms;
              transition: all 350ms;
            }
            article {
              height: rem(200);
              overflow: hidden;
            }
            p {
              font-size:16px;
              margin-bottom: 1rem;
              font-size: .9em;
              color: #999;
              line-height: 1.7rem;
              text-indent: 2rem;
            }
          }
          .meta {
            margin: .7em 0;
            font-size: .85rem;
            color: #ccc;
            font-size: 14px;
            span {
              margin: 0 3px;
            }
            .tags {
              a {
                margin-left: 3px;
                padding: .167rem .25rem;
                font-size: .55rem;
                transition: all 350ms;
                text-transform: uppercase;
                color: #f8f8f8;
                border-radius: .25rem;
                background-color: rgba(234,97,83,.7);
              }
            }
          }
          .divider{
            width: 30%;
            margin: 1.7rem 0;
            border-top: 1px solid #ddd;
          }
        }
      }
      .pagination {
        margin: 0 0 2.5rem;
        .pager {
          a {
            color: #999;
          }
        }
        .pageIndex {
          margin-right: 1rem;
          margin-left: 1rem;
          font-size: .8rem;
          color: #999;
        }
      }
      footer {
        display: block;
        padding: 2em 0 0;
        font-size: .7em;
        color: #b3b3b3;
        border-top: 2px solid #ddd;
        p {
          margin-bottom: .7em;
          a{
            text-decoration: underline;
            color: #a6a6a6;
          }
        }
      }
    }
  }
}
//@function getW($w,$p){
//  @return $w/$p*100+'%';
//}
.g-indiana{
  $margin-b:rem(11);
  .margin-b{
    margin-bottom:$margin-b;
  }
  .ui-container{
    padding-top:$margin-b;
  }
  .item-wrap{
    width:97.5%;
    margin:0 auto;
    li{
      float:left;
      overflow:hidden;
      width:49.6%;
      background:#fff;
      @extend .margin-b;
    }
    li:nth-child(even){
      float:right;
    }
    a{
      display:block;
      width:100%;
      height:100%;
      color:#000;
    }
    .price-wrap{
      $h:rem(60);
      height:$h;
      line-height:$h;
      font-size:11px;
      text-indent:rem(18);
      .price{
        color:#fa4a2c;
      }
    }
    h2{
      $h:rem(108);
      height:$h;
      line-height:$h;
      text-align:center;
      font-size:11px;
    }
    .progress-wrap{
      width:90.3%;
      margin:0 auto;
      background:#ededed;
      height:rem(8);
      border-radius:3px;
      overflow:hidden;
      .progress{
        height:inherit;
        width:0;
        background:#f7941d;
      }
    }
    .need{
      color:#858585;
      font-size:11px;
      line-height:rem(23);
      margin-top:rem(14);
      padding-bottom:rem(16);
      .f-left{
        margin-left:15.685%;
      }
      .f-right{
        margin-right:23.5%;
        .now-num{
          color:#fa4c2d;
        }
      }
    }
  }
}